body {
  padding: 0px;
  font-size: 16px;
}

main#bg::before {
  padding-top: 65px;
  background-color: #104da1;
}

#nav-panel {
  position: fixed;
  background-color: #104da1;
  height: 66px;
  line-height: 22px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px #d6e1f9;
  z-index: 5;
}

#main-panel {
  background-color: #104da1;
  height: 250px;
  width: 100%;
  margin-top: 67px;
  padding: 10px;
  z-index: 2;
}

#inner-panel {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  left: 0px;
  right: 0px;
  width: 77%;
  height: 442px;
  background-color: #ffffff;
  border-width: 2px;
  border-color: #2f7eb1;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 3;
}

.summary-row {
  background-color: lightblue;
}

#match-details {
  /*background-color: pink;*/
  margin-top: 18px;
  margin-bottom: 18px;
  height: 54px;
  float: left;
  width: 50%;
  font-size: 110%;
  line-height: 60px;
}

span#match-pct {
  font-weight: bold;
}

#action-boxes {
  background-color: lightgreen;
  margin-top: 18px;
  margin-bottom: 18px;
  height: 54px;
  float: right;
  width: 40%;
}

#pics-row {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 262px;
  min-width: 10000px;
  display: block;
}

#pics-row img {
  height: 262px;
  width: 286px;
  margin: 0px 10px 0px 0px;
  display: inline;
  border-radius: 3px;
}

.inner-footer-row {
  background-color: lightblue;
  line-height: 90px;
}

#promote-a-list {
  /*background-color: pink;*/
  font-size: 110%;
  height: 90px;
  float: left;
  width: 70%;
}

#carousel-controls {
  background-color: lightgreen;
  font-size: 110%;
  height: 90px;
  float: right;
  width: 20%;
}

#profile-content {
  margin: 0 auto;
  padding: 350px 250px 60px 250px;
  width: 100%;
  min-height: 800px;
  background-color: rgb(243, 245, 249);
  overflow: auto;
  z-index: 2;
}

#profile-questions {
  min-height: 200px;
}

#blurb {
  height: 170px;
  width: 320px;
  padding: 20px;
  margin-left: 20px;
  background-color: #ffffff;
  float: right;
  font-size: 17px;
  line-height: 24px;
  font-family: "GT America", Helvetica, sans-serif;
}

#looking {
  line-height: 32px;
}

span.question, p.response {
  font-size: 17px;
  line-height: 24px;
  font-family: "GT America", Helvetica, sans-serif;
}

span.question {
    font-weight: bold;
}

#footer-panel {
  background-color: #104da1;
  height: 269px;
  font-size: 15px;
  line-height: 30px;
  bottom: 0;
  width: 100%
  /*left: 0;
  right: 0;*/
  z-index: 5;
  text-align: center;
}

.nav-left {
  /*background-color: inherit;*/
  position: absolute;
  float: left;
  left: 0;
  margin: 0;
  padding-left: 15px;
  line-height: 22px;
  height: 65px;
}

.nav-right {
  /*background-color: inherit;*/
  /*position: absolute;*/
  float: right;
  right: 0;
  margin: 0;
  padding-right: 18px;
  line-height: 22px;
  height: 65px;
}

ul.nav-left-links {
  font-size: 15px;
  font-family: "GT America", Helvetica, sans-serif;
  line-height: 22px;
  float: left;
  height: 65px;
  margin: 0;
  padding: 0;
  display: inline;
}

ul.nav-right-links {
  font-size: 15px;
  font-family: "GT America", Helvetica, sans-serif;
  line-height: 22px;
  height: 65px;
  margin: 0;
  padding: 0;
  float: right;
  display: inline;
}

ul.nav-left-links li {
  list-style-type: none;
  display: inline;
}

ul.nav-right-links li {
  list-style-type: none;
  display: inline;
}

ul.nav-left-links li a {
  padding: 4px 23px 0px 23px;
  display: inline-block;
}

ul.nav-right-links li a {
  padding: 7px 6px 7px 6px;
  display: inline-block;
}

h1#brand {
  display: inline;
  /*overflow: hidden;*/
  /*float: left;*/
}

h1#brand a {
  overflow: hidden;
  height: 65px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 12px;
  float: left;
}

span.nav-link-text, span.okc-glyph {
  color: #d6e1f9;
  font-size: 17px;
  font-weight: lighter;
  line-height: 61px;
}

.roster-row {
  margin: 10px auto 10px auto;
  height: 60px;
  /*width: 77% * 1.2;*/
  width: 92.4%;
}

.roster-row > * {
  display: inline;
  float: left;
}

.roster-queue {
  width: 83.33%;
  height: 60px;
  /*margin: 0 auto;*/
  position: relative;
}

#roster-undo {
  width: 8.33%;
  height: 60px;
}

#roster-previous {
  width: 8.33%;
  height: 60px;
}

/*.roster-queue > span.roster {
  display: inline;

}


span.roster {

}*/

.roster-pic {
  display: inline;
  float: left;
  height: 60px;
  width: 10%;
  border-right: 1px rgb(255, 0, 0);
}


span.undo-button {

}

span.previous-button {

}

ul.footer-links li a {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  margin-right: 10px;
  color: rgb(94, 137, 222);
}

ul.footer-links li a:hover {
  color: #d6e1f9;
}

















#footer-panel ul {
  list-style-type: none;
}

#footer-panel ul li {
  display: inline;
}


/*#nav-panel .nav-left, #nav-panel .nav-right {
  position: relative;
}*/

ul.social-links, ul.footer-links {
  line-height: 61px;
  font-weight: 100;
}

p#copyright {
  color: rgb(94, 137, 222);
  font-size: 17px;
}

p#copyright span:hover {
  color: #d6e1f9;
}

/*ul.footer-links {
  line-height: 61px;
  font-weight: 100;
}*/
